{{#section 'head'}}
    <script src="/js/faker.js"></script>
{{/section}}
<table class="table container" id="test-table">
    <thead>
      <tr>
      <td>Title</td>
      <td>Price</td>
      <td>Image</td>
      </tr>
    </thead>
    <tbody id="tb">
      <td></td>
    </tbody>
</table>